html, body, #root {
    height: 100%;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

h1 {
    text-align: center;
}

.controls {
    margin-bottom: 10px;
    text-align: center;
}

button {
    padding: 8px 16px;
    margin: 0 5px;
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: 4px;
}

button:hover {
    opacity: 0.8;
}

.editor-container {
    display: flex;
    gap: 10px;
    flex-grow: 1;
}

.editor,
.tree {
    width: 50%;
    height: 100%;
    border: 1px solid #ccc;
}

.tree {
    overflow: auto;
}

.error {
    color: red;
    min-height: 20px;
    text-align: center;
}